/* body, html { height: 100%; } */
/* .v-main { height: 100%;} */
#app {
    font-family: Montserrat;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
}

.error-msg {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

.box-shadow {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.v-card-container {
    height: calc(100vh - 120px);
    overflow: auto;
}

#map-container {
    flex: 1;
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
}

.square-corner {
    border-radius: 0px
}


.facebook-btn {
    background: #507cc0;
}


.google-btn {
    background: #2196F3;
}

.twitter-btn {
    background: #64ccf1;
}

.or-seperator b {
    color: #666;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    top: -15px;
    z-index: 1;
}

.compost-toggle-button {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin-bottom: 100px;
}

.compost-add-button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.mapboxgl-ctrl-bottom-left {
    display: none;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.marker-public {
    background-image: url('marker-public.gif');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.marker-private {
    background-image: url('marker-private.gif');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.mapboxgl-popup-close-button {
    display: none;
}
/* .v-list-item-title {

} */
.v-list-item {
    white-space: normal !important;
    word-break: break-word;
    font-size: 0.9em;
}

.v-list-item-avatar--start {
     margin-inline-end: 0px;
}
.v-expansion-panel-text__wrapper {
    padding: 0 !important
}